.color-title {
    color: rgb(223, 23, 230);
}

.card-team {
    background-color: rgb(245, 174, 69);
}

.card-team {
    padding: 10px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    width: calc(90% /3);

}

img {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}